<%- include('_partial/header', {
  headerType: 'post',
  post: post
}) %>
<article>
  <div class="container typo">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 catalog-menu">
          <% for( let item of summary_array ){ %>
            <div class="">
                <tree-menu treedata='<%= JSON.stringify(item.catalog) %>'></tree-menu>
            </div>
         <% } %>
      </div>
    </div>
  </div>
</article>

<%- include('_partial/footer') %>
