.catalog-menu {
    h1 {
        text-align:center;
    }
    ul {
        overflow:hidden;
    }
    .catalog-container {
        border: 1px solid rgba(0,0,0,0.3);
        background:#eee;
        padding:20px;
        border-radius:5px;
    }
}
.catalog li {
    list-style-type:none;

    &.catalog-main {
        font-weight:bold;
    }

    a {
        color: #020202;
        display:flex;
        white-space: nowrap;
        justify-content: space-between ;
        margin:5px 0 ;

        &:hover {
            color: darkblue;
            text-decoration:underline;
        }
        span.title {
            overflow-x:hidden;
            &:after {
                content:"..................................................................................................................................................................................";
            }


        }

        span {
            display:flex;
            align-items:  center ;
        }
    }
}

.markdown-body {

    p >code {
        background:#666;
    }
}

.not-found{
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    a {
        color:blue;
    }
}

pre code {
    white-space: pre !important;
}

.jump {
    color:#f2f2f2;
    display:flex;
    font-size:50px;
    justify-content:center;
    align-items:center;

    strong#seconds {
        color:blue;
    }
}

.catalog-title {
    cursor: pointer;
    position:relative;
    .menu-toggle {
        font-size:1.5rem;
    }
}

.catalog-title:hover {
    h1 {
        color:blue;
    }
}
