article {
    margin-bottom:80px !important;
}
.catalog-menu {
    h1 {
        text-align:center;
    }
    ul {
        overflow:hidden;
    }
    .catalog-container {
        border: 1px solid rgba(0,0,0,0.3);
        background:#eee;
        padding:20px;
        border-radius:5px;
    }
}
.catalog li {
    list-style-type:none;

    &.catalog-main {
        font-weight:bold;
    }

    a {
        color: #020202;
        display:flex;
        white-space: nowrap;
        justify-content: space-between ;
        margin:5px 0 ;

        &:hover {
            color: darkblue;
            text-decoration:underline;
        }
        span.title {
            overflow-x:hidden;
            &:after {
                content:"..................................................................................................................................................................................";
            }


        }

        span {
            display:flex;
            align-items:  center ;
        }
    }
}

code {
    background-color:#666;
    padding:0 0.4rem;
}

.not-found{
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    a {
        color:blue;
    }
}

pre code {
    white-space: pre !important;
}

.jump {
    color:#f2f2f2;
    display:flex;
    font-size:50px;
    justify-content:center;
    align-items:center;

    strong#seconds {
        color:blue;
    }
}

.catalog-title {
    cursor: pointer;
    position:relative;
    .menu-toggle {
        font-size:1.5rem;
    }
}

.catalog-title:hover {
    h1 {
        color:blue;
    }
}


//footer
footer {
    padding:0;
}
.footer {
    a {
        font-family: 'Ubuntu Mono', monospace !important;
        color:#2c2c2c;
        font-weight:bold;
        &:hover {
            background:#4682B4;
            color:#fff;
        }
    }

    .copyright {
        color:#020202;
        font-size:1.5rem;
        font-family: 'Ubuntu Mono', monospace !important;
        color:#7c7c7c;
        background: #f5f5f5;
        overflow: hidden;
    }
}


// page Navigation
.pageNavigation {
    $color:#fff;
    $borderColor:#224795;
    margin-bottom:40px;
    padding:0 50px;

    a {
        color: $color !important;
        text-decoration:none;
        &:hover {
            background-color:transparent;
            color: $color !important;
            text-decoration:none;
        }
    }
    
	height:30px;
	cursor:pointer;
	display:flex;
	justify-content:space-between;
    div.presp {
	    perspective:500px;
	    -webkit-perspective:500px;
        div {
            width:80px;
	        height:100%;
	        transform-style:preserve-3d;
	        -webkit-transform-style:preserve-3d;
	        transition:0.25s;
	        -webkit-transition:0.25s;
        }
        div:hover {
	        transform:rotateX(-90deg);
        }
    }
    span {
	    width:100%;
	    height:100%;
	    position:absolute;
	    box-sizing:border-box;
	    line-height:30px;
	    font-size:1.2rem;
	    font-weight:bold;
	    text-align:center;
	    text-transform:uppercase;
    }
    span:nth-child(1) {
	    color:$borderColor;
	    border:3px solid $borderColor;
	    transform: translate3d(0, 0, 15px);
    }
    span:nth-child(2) {
	    color:$color;
	    background:#224795;
	    transform: rotateX(90deg) translate3d(0, 0, 15px);
    }
}

.viz-contain {
    display:flex;
    margin:2rem 0;
    justify-content:center;
    > svg {
    }
}

.tree-menu-container{
    .cover {
        display:flex;
        justify-content:center;
        align-items:center;
        img {
            max-height:200px;
        }
    }
}

