article {
  margin-bottom: 80px !important;
}

.catalog-menu h1 {
  text-align: center;
}
.catalog-menu ul {
  overflow: hidden;
}
.catalog-menu .catalog-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #eee;
  padding: 20px;
  border-radius: 5px;
}

.catalog li {
  list-style-type: none;
}
.catalog li.catalog-main {
  font-weight: bold;
}
.catalog li a {
  color: #020202;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  margin: 5px 0;
}
.catalog li a:hover {
  color: darkblue;
  text-decoration: underline;
}
.catalog li a span.title {
  overflow-x: hidden;
}
.catalog li a span.title:after {
  content: "..................................................................................................................................................................................";
}
.catalog li a span {
  display: flex;
  align-items: center;
}

.markdown-body code {
  background: #666;
}

.not-found {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
}
.not-found a {
  color: blue;
}

pre code {
  white-space: pre !important;
}

.jump {
  color: #f2f2f2;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.jump strong#seconds {
  color: blue;
}

.catalog-title {
  cursor: pointer;
  position: relative;
}
.catalog-title .menu-toggle {
  font-size: 1.5rem;
}

.catalog-title:hover h1 {
  color: blue;
}

.footer a {
  font-family: "Ubuntu Mono", monospace !important;
  color: #2c2c2c;
  font-weight: bold;
}
.footer a:hover {
  background: #4682B4;
  color: #fff;
}
.footer .copyright {
  color: #020202;
  font-size: 1.5rem;
  font-family: "Ubuntu Mono", monospace !important;
  color: #7c7c7c;
  background: #f5f5f5;
  overflow: hidden;
}

.pageNavigation {
  margin-bottom: 40px;
  padding: 0 50px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.pageNavigation a {
  color: #fff !important;
  text-decoration: none;
}
.pageNavigation a:hover {
  background-color: transparent;
  color: #fff !important;
  text-decoration: none;
}
.pageNavigation div.presp {
  perspective: 500px;
  -webkit-perspective: 500px;
}
.pageNavigation div.presp div {
  width: 80px;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
.pageNavigation div.presp div:hover {
  transform: rotateX(-90deg);
}
.pageNavigation span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.pageNavigation span:nth-child(1) {
  color: #224795;
  border: 3px solid #224795;
  transform: translate3d(0, 0, 15px);
}
.pageNavigation span:nth-child(2) {
  color: #fff;
  background: #224795;
  transform: rotateX(90deg) translate3d(0, 0, 15px);
}
